<!DOCTYPE html>
<html>

<head>
    <title>File Management System</title>
</head>

<body>

<h1>File Management System</h1>

<hr>

<h2>Upload File</h2>

<form
        action="/upload"
        method="POST"
        enctype="multipart/form-data">

    <input
            type="file"
            name="file"
            required>

    <button type="submit">
        Upload
    </button>

</form>

<hr>

<h2>Uploaded Files</h2>

<% if(files.length === 0){ %>

    <p>No files uploaded.</p>

<% } else { %>

    <ul>

        <% files.forEach(file => { %>

            <li>

                <%= file %>

                <a href="/download/<%= file %>">
                    Download
                </a>

                |

                <a href="/delete/<%= file %>">
                    Delete
                </a>

            </li>

        <% }) %>

    </ul>

<% } %>

</body>
</html>
